.main-menu-wrapper .nav-item{
    display: block;
    min-width: 134px;
    border: 1px solid #43b584;
    border-radius: 100px;
}

.main-menu-wrapper .nav-item .header-login{
    display: flex;
    align-items: center;
    justify-content: center;
}
